@CHARSET "UTF-8";

body {
	background: #ccefff;
	font-family: Garamond, serif;
}

p {
  font-family: TimesNewRoman, serif;
}

h1 {
  font-size: 180 %;
  color: black;
}

h2{
	font-size: 150 %;
 	color: black;
}
#message {
  color: red;
  font-weight: bold;
}

#footer {
	font-size: 12px;
	text-align: center;
}

#tableTop {
	text-align: "left";
	background: white; 
	font-weight: bold;
	color: red
}

#tableTop2 {
	text-align: "left";
	background: white; 
	font-weight: bold;
	color: red
}

#table {
	text-align: "left";
	border-color: white;
	background: #FFFFFF;
}

a:LINK {
	 text-decoration: none;
	 color: #0000FF;
}

a:VISITED {
	 text-decoration: none;
	 color: blue;
}

.loggif {
	display: none;
}
